@media screen and (max-width: 800px) {
    main{
        width: 100%;
        height: 100vh;
        background: var(--light-blue);
    }

    .top__content{
        width: 100%;
        height: auto;
        background: var(--blue);
        padding: 10px 0;
        border-radius: 0 0 25px 25px;
    }

    .top__content .inner{
        width: 90%;
        margin: 0 auto;
    }
    .top__content .inner .navigator{
        width: 100%;
        margin-bottom: 15px;
    }

    .top__content .inner .date{
        width: 90%;
        margin: 0 auto 25px;
        display: flex;
        align-items: center;
        color: var(--light-blue);
    }

    .top__content .inner .date .current{
        font-size: 1.2rem;
    }

    .top__content .inner .date .current .day{
        font-weight: 700;
        font-size: 1.4rem;
        margin-right: 5px;
    }

    .top__content .inner .date .icon{
        margin-left: auto;
        font-size: 26px;
    }
    .top__content .inner .type__container{
        width: 100%;
        height: auto;
    }

    .top__content .inner .type__container .journal__type{
        width: 100%;
        padding: 25px 0;
        background: var(--white);
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 4px 8px rgba(0, 0, 0, 0.20);
        margin-bottom: 25px;
    }

    .top__content .inner .type__container .journal__type .type__content{
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 auto;
        color: var(--blue);
        display: flex;
        align-items: center;
    }

    .top__content .inner .type__container .journal__type .type__content .icon{
        font-size: 26px;
        margin-right: 8px;
    }

    .top__content .inner .type__container .journal__type .type__content .text{
        font-size: 1.3rem;
        font-weight: 700;
    }

   .entry__listing{
        width: 90%;
       margin: 0 auto;
        height: auto;
       padding-top: 18px;
    }

    .entry__listing .header{
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .entry__listing .entries{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .entry__listing .entries .video,
    .entry__listing .entries .entry{
        width: 250px;
        height: 200px;
        margin-right: 15px;
        flex: 0 0 auto;
    }

    .entry__listing .entries .video{
        position: relative;
    }

    .entry__listing .entries .video .player{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: var(--light-blue);
        color: var(--blue);
        font-size: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .entry__listing .entries .video .player:hover{
        cursor: pointer;
    }

    .entry__listing .entries .video video{
        width: 100%;
        height: 100%;
    }

   .entry__listing .entries .entry{
        border-radius: 18px;
        background: var(--white);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), 0 4px 8px rgba(0, 0, 0, 0.20);
        padding: 16px;
    }

  .entry__listing .entries .entry .date{
        font-size: 1.1rem;
        opacity: .7;
        margin-bottom: 15px;
    }

    .entry__listing .entries .entry .entry__content{
        width: 90%;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.6rem;
    }


    #video-file{
        display: none;
    }

    .content__overlay.dark{
        background: rgba(0, 0, 0, 0.95);
    }

    .content__overlay .overlay__inner{
        background: var(--white);
        padding: 16px;
        width: 85%;
        border-radius: 8px;
    }

    .content__overlay .overlay__inner .upload__progress .progress__header{
        display: flex;
        align-items: center;
    }

    .content__overlay .overlay__inner .upload__progress .progress__header .message{
        font-size: 1rem;
        color: var(--darker-grey);
        font-weight: 700;
    }

    .content__overlay .overlay__inner .upload__progress .progress__header .percentage{
        margin-left: auto;
        font-size: 1.05rem;
        color: var(--blue);
        font-weight: 700;
    }

    .content__overlay .overlay__inner .upload__progress .progress__container{
        width: 100%;
        height: 25px;;
        border-radius: 8px;
        background: rgba(100, 100, 100, .08);
        margin-top: 25px;
    }

    .content__overlay .overlay__inner .upload__progress .progress__bar{
        width: 0%;
        height: 100%;
        background: var(--blue);
        border-radius: inherit;
    }

    .content__overlay .overlay__inner .processing{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__overlay .overlay__inner .processing .txt{
        font-size: 0.95rem;
        color: var(--darker-grey);
        font-weight: 600;
        margin-left: 7px;
    }

    .content__overlay .overlay__inner .response__message{
        text-align: center;
        font-weight: 700;
        margin-top: 12px;
        font-size: 1rem;
    }

    .content__overlay .overlay__inner .response__message .success{
        color:  #2edd9a;
    }

    .content__overlay .overlay__inner .response__message .error{
        color: #ff0000;
    }

    .content__overlay .overlay__inner .response__message .error,
    .content__overlay .overlay__inner .response__message .success{
        display: none;
    }

}
